{
	"extends": "standard",
	"rules": {
		"no-new": "off",
		"semi": [2, "always"],
		"indent": [2, "tab"],
		"no-tabs": "off",	
		"quotes": [1, "double"]				
	},
	"parserOptions":{
	    "parser": "babel-eslint"
	}
}